body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    direction: ltr; /* لجعل النص يبدأ من اليمين */
    text-align: left; /* محاذاة النص إلى اليمين */
}

h1 {
    background-color: #587fc7;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #587fc7;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    background-color: rgb(107, 171, 234);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(115, 156, 198);
}

.project-image {
    text-align: center;
    margin-top: 20px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 50%; /* تحديد عرض الصور */
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #e5eaf0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #587fc7;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 50%; /* تحديد عرض الصور */
}
