body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

    direction: ltr;
    text-align: left;
}

h1 {
    background-color: #587fc7;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #587fc7;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    background-color: rgb(107, 171, 234);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(115, 156, 198);
}

.project-image {
    text-align: center;
    margin-top: 20px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 50%; /* تحديد عرض الصور */
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #e5eaf0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #587fc7;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
.item {
    height: auto;
    /* background: rgba(255, 255, 255); /* خلفية العناصر */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item div {
    margin: 5px;
}

.i img {
    border-radius: 40px;
    border: #eee 2px solid;
    /* حدود الصور */
}

.i {
    border: #fff 3px solid;
    padding: 15px;
    background-color: rgb(109, 133, 188, 0.9);
    /* لون الخلفية لكل عنصر */
    border-radius: 40px;
}

.i p {
    font-size: 12px;
    padding: 10px;
    color: #fff;
    /* لون النص */
}

h2 {
    font-size: 15px;
    margin: 0 0 10px;
    color: #e4b95b;
}

.one {
    color: #e0b966;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(109, 133, 188, 0.9);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
    width: 50%; /* تحديد عرض الصور */
}
